:root {
	--black-ish: #2A1532;
	--off-white: #FBFBFB;
	--dark-grey: #555;
	--light-grey: #AAA;
	--yellow: #FFD166;
	--transp-yellow: #FFD166AA;
	--peach: #EF7D6E;
	--blue: #233FB9;
	--dark-blue: #11305B;
	--darkest-blue: #082143;
	--light-blue: #ADCFFF;
	--red: #D00;
	--green: #88D18A;
	--razzmatazz: #EC0868;
	--purple: #69088D;
	--dark-purple: #480B5E;
	--orange: #EF7D6E;
	--darkmatazz: #D0031F;
	--gradient: linear-gradient(98deg, #FFEDC4 0%, #E9AFFF 97%), var(--off-white);
	--saturated-gradient: linear-gradient(-110deg, #FFD166 0%, #69088D 98.65%), var(--off-white);
	--blue-gradient: linear-gradient(110deg, #233FB911, #EF7D6E44), #233FB911;
	--blue-gradient-inverted: linear-gradient(#233FB911, #EF7D6E44), #233FB911;
	--vertical-gradient: linear-gradient(180deg, #FFD16622, #EF7D6E33), #FFD16655;
	--neat-orange-shadow: 1px 1px 0 var(--orange);
	--neat-purple-shadow: 1px 1px 0 var(--purple);

	--shadow: 5px 5px 20px #480B5E22, -5px -5px 20px #FFF3CC22;
	
	--font-serif: 'EB Garamond', Garamond, serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	--font-main: Poppins, system-ui, -apple-system, Inter, Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	--font-heading: 'Londrina Solid', system-ui, -apple-system, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

:root > * {
	--md-primary-fg-color: var(--purple);
	--md-typeset-a-color: var(--purple);
	--md-primary-bg-color: #FFF;
	--md-primary-bg-color--light: #FFF;
	--md-accent-fg-color: var(--peach);
	--md-footer-bg-color: none;
	--md-footer-fg-color: var(--dark-blue);
	--darkreader-text--md-default-fg-color--light: #FFF;
	--darkreader-text--md-accent-fg-color: var(--yellow);
	--darkreader-text--md-typeset-a-color: var(--yellow);
	--darkreader-bg--md-footer-bg-color: none;
	--darkreader-bg--md-default-bg-color: var(--dark-blue);
	--md-text-font-family: var(--font-main);
}

@media (prefers-color-scheme: dark) {
	:root > * {
		--md-default-fg-color: var(--off-white) !important;
		--md-default-fg-color--light: #FFFA;
		--md-default-fg-color--lighter: #FFF7;
		--md-typeset-color: var(--off-white) !important;
		--md-primary-fg-color: var(--peach);
		--md-typeset-a-color: var(--yellow);
		--md-primary-bg-color: var(--dark-blue);
		--md-default-bg-color: var(--dark-blue);
		--md-code-bg-color: #0005;
		--md-code-fg-color: #FFFD;
	}
}

.md-typeset h1 {
	font-size: 3em;
	font-weight: 800;
	font-family: var(--font-heading);
	color: var(--md-typeset-color);
}

.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
	font-weight: 700;
	text-shadow: var(--neat-orange-shadow);
}

[dir='ltr'] .md-typeset dd {
	margin: 0 0 .5em .8em;
}

.md-typeset mark {
	background-color: var(--transp-yellow, yellow);
	padding: 0 2px;
	border-radius: 4px;
}

.md-header {
	top: .5rem;
	margin: 0 3vw;
	border-radius: .8rem;
	box-shadow: var(--shadow);
}

.md-header__title {
	font-family: var(--font-heading);
	font-size: 2em;
}

.headerlink {
	text-shadow: none;
}

.md-footer {
	background: var(--gradient);
	margin: 0 3vw .5rem;
	border-radius: .8rem;
	box-shadow: var(--shadow);
}

.md-footer-meta {
	display: none;
}

.md-search__form {
	border-radius: .5rem !important;
}

.md-search__output {
	margin-top: .5rem;
	border-radius: .5rem !important;
}

dt {
	font-weight: 800;
}

.orange {
	background-color: var(--orange, orange) !important;
	color: #000 !important;
}

.yellow {
	background-color: var(--yellow, yellow) !important;
	color: #000 !important;
}

.red {
	background-color: var(--red, red) !important;
	color: #FFF !important;
}

.green {
	background-color: var(--green, green) !important;
	color: #000 !important;
}

.blue {
	background-color: var(--blue, blue) !important;
	color: #FFF !important;
}
